<section class="contact container vh-100 d-flex align-items-center justify-content-center">
  <div class="login-user container-fluid d-flex flex-column justify-content-center rounded-3 bg-white pt-5 pb-5">

  <%= link_to root_path do %>
    <i class="fa-solid fa-arrow-left fa-lg"></i> Back
  <% end %>

    <h2 class="text-center mt-2">Enter your email address</h2>

    <div class="mailbox mx-auto d-flex align-items-center justify-content-center mb-3 mt-3">
      <i class="fa-solid fa-envelope-open-text fa-2xl fa-bounce" style="color: #ced4da; "></i>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
      </div>

      <div class=" d-flex gap-3 align-items-center justify-content-center mb-3 fs-sm-1">
        <%= render "devise/shared/links" %>
      </div>

      <div class="mb-3">
        <%= f.submit "Reset Password", class: 'form-control btn btn-primary' %>
      </div>
    <% end %>

  </div>
</section>

